In [7]:
import xml.etree.ElementTree as ET
import pandas as pd

In [8]:
tree = ET.parse('../src/data/V20211115.xml')
root = tree.getroot()

In [9]:
df = pd.DataFrame(columns=['data_hora','matricula', 'numero_linha', 'numero_veiculo'])
df

Empty DataFrame
Columns: [data_hora, matricula, numero_linha, numero_veiculo]
Index: []

In [10]:
for movimento in tree.findall('Movimentos'):
    for movimento_d in movimento.findall('MovimentoDiario'):
        for categoria in movimento_d.findall('Categoria'):
            for empresa in categoria.findall('Empresa'): 
                for veiculo in empresa.findall('Veiculo'):
                    num_veiculo = veiculo.get('Numero')
                    for linha in veiculo.findall('Linha'):
                        num_linha = linha.get('Numero')
                        for viagem in linha.findall('Viagem'):
                            for passageiro in viagem.findall('Passageiro'):
                                df = df.append({'data_hora': passageiro.get('data_hora'),
                                        'matricula': passageiro.get('Matricula'),
                                        'numero_linha': num_linha,
                                        'numero_veiculo': num_veiculo},ignore_index=True)
                                break

df.head()

             data_hora matricula numero_linha numero_veiculo
0  2021-11-12T06:52:08   7041643          710          67501
1  2021-11-12T08:05:25   8020902          710          67501
2  2021-11-12T09:18:43   7612487          710          67501
3  2021-11-12T09:56:09   7465706          710          67501
4  2021-11-12T10:55:17   6679924          710          67501

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14035 entries, 0 to 14034
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   data_hora       14035 non-null  object
 1   matricula       14035 non-null  object
 2   numero_linha    14035 non-null  object
 3   numero_veiculo  14035 non-null  object
dtypes: object(4)
memory usage: 438.7+ KB